<!-- This goes in the document HEAD so IE7 and IE8 don't cry -->
    <!--[if lt IE 9]>
    <style type="text/css">
        table.gradienttable th {
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e3e4', endColorstr='#b3c8cc',GradientType=0 );
            position: relative;
            z-index: -1;
        }
        table.gradienttable td {
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebecda', endColorstr='#ceceb7',GradientType=0 );
            position: relative;
            z-index: -1;
        }
    </style>
    <![endif]-->

<!-- CSS goes in the document HEAD or added to your external stylesheet -->
{% extends 'base.html' %}
{% block css %}

<!-- TIP: Generate your own CSS Gradients using this tool: http://www.colorzilla.com/gradient-editor/ -->
<body>


<!--<table id="id_list_table" class="table table-condensed table-striped table-bordered">-->
<table id="id_list_table" class="table table-condensed table-striped table-bordered">
<!--
    <tr><td>{{ new_item_text }}</td></tr>
    <variable to be rendered by render_to_string func 
    </table>
-->
  <tr>
    <th>ASIN</th>
    <th>RANK</th>
    <th>NAME</th>
    <th>Cmp</th>
    <th>NFL</th>
    <th>CLC</th>
    <th>Min_Price</th>
    <th>Min_Price_Ful</th>
    <th>Cost</th>
    <th>clc-cost</th>
    <th>%prof</th>
  </tr>
  <tr class = "info">
    {% for ele in new_item_text %}
        <td>{{ ele }}</td>
  {% endfor %}
  </tr>
</table>
{% if amazonsellsflag == '1' %} 
    <br> 
    <p>AMAZON SELLS</p>
{% else %} 
    <p>AMAZON DOES NOT SELL</p>
{% endif %} 
{% if noonefulfills == '1' %} 
    <br> 
    <p>No One Fulfills</p>
{% endif %} 
</body>
{% endblock %}
